div {
    margin-bottom: 15px;
    padding: 4px 12px;
  }
  .v-application .info {
      background-color: cyan !important;
      border-left: 6px solid #2196F3;
  }

  .actions {
      margin-bottom: 20px;
      color: #ff5252;
      .text {
        margin-right: 10px;
      }
  }
  .icon {
    margin-left: 10px;
  }